table{
    height: 300px;
    width: 500px;
    border: 3px solid black;
    text-align: center;
    background-color: aqua;
}
.head{
    background-color: green;
    color: white;
    font-size: 26px;
    font-family: cursive;
    text-shadow: 2px 2px 2px yellow;
}